main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .title__login {
      color: var(--color-primary);
    }
  }

  .form__login {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: var(--gray-3);
      width: 100%;
      margin-top: 50px;
      height: 31.75rem;
      max-width: 25rem;

      .div__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;

        .title__form {
          color: var(--gray-0);
          font-size: 1.125rem;
          font-weight: 700;
        }
      }

      .button__acess {
        background-color: var(--color-primary);
        border: 1px;
        border-radius: 4px;
        font-size: 1rem;
        height: 3rem;
        width: 22.625rem;

          a {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
          }
      }

      .h2__acess {
        color: var(--gray-1);
        font-size: 0.75rem;
        font-weight: 600;
      }

      .button__register {
        background-color: var(--gray-1);
        border: 1px;
        border-radius: 4px;
        gap: 0.625rem;
        width: 22.625rem;
        height: 3rem;

        a {
          color: var(--gray-0);
          font-size: 1rem;
          font-weight: 500;
          border: none;
          text-decoration: none;
        }
      }
  }
}
