.div__input {
  display: flex;
  flex-direction: column;
  height: 82px;
  gap: 5px;

  label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--gray-0);
    font-size: 0.8125rem;
    font-weight: 400;
  }

  input {
    color: var(--gray-0);
    width: 20.5625rem;
    height: 0.625rem;
    border: 1px solid var(--gray-0);
    border-radius: 4px;
    padding: 1rem;
    margin-top: 10px;
  }
}


  .button__visible {
    background-color: transparent;
    color: var(--gray-0);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    position: relative;
    left: 155px;
    bottom: 50px;
  }

.span__message {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

button {
  color: var(--gray-0);
  font-size: 1rem;
  font-weight: 500;
  border: none;
}
