.div__header {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.div__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40.625rem;
  width: 100%;
  background-color: var(--gray-4);
  border-radius: 4px;

  .div__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 260px;
    margin-left: 25px;

    h2 {
      color: var(--gray-0);
      font-size: 0.9506rem;
      font-weight: 700;
      width: 12.5rem;
    }

    p {
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--gray-1);
    }
  }

  .div__buttons {
    display: flex;
    gap: 0.75rem;
    margin-right: 10px;

    button {
      background-color: transparent;
    }
  }
}
